{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "16.15"
                }
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "~": "./src"
                }
            }
        ]
    ],
    "ignore": [
        "**/*.spec.ts",
        "**/*.d.ts",
        "jest.config.ts"
    ]
}
